.my-profile{
    display: flex;
    flex-direction: column;
    margin-top: -32px;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    
    &__header{
        font-size: 16px;
        font-weight: 700;
        line-height: 22.88px;
    }

    &__field{
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }

    &__label-edit-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__label{
        font-size: 12px;
        font-weight: 400;
        color: #8E8E93;
    }

    &__input-line{
        border-bottom: 1px solid #8E8E93;
        padding-bottom: 10px;
        font-size: 14px;
    }

    &__edit-icon{
        width: 18px;
        height: 18px;
    }

    &__input{
        font-size: 14px;
        border-bottom: 1px solid #8E8E93;
        padding-bottom: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    &__save-btn{
        border-radius: 20px;
        background-color: #346DFF;
        margin: 16px 0;
        width: 180px;
        align-self: center;
        color: white;
        padding: 10px;
        font-family: 'Inter';
        border: none;
    }
}

.my-group{
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__header{
        font-size: 16px;
        font-weight: 700;
        line-height: 22.88px;
    }

    &__container{
        display: flex;
        justify-content: space-between;
    }


    &__avatar{
        width: 47px;
        height: 47px;
        border-radius: 50px;
        background-color: #346DFF;

        &--grey{
            background-color: grey;
        }

        &--orange{
            background-color: orange;
        }

        &--green{
            background-color: darkgreen;
        }
    }
    &__group-name-subcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__group-name{
        margin: 0;
        font-size: 16px;
    }

    &__timestamp{
        margin: 0;
        font-size: 12px;
    }

    &__left-container{
        display: flex;
        gap: 8px;
    }

    &__button{
        display: flex;
        background-color: white;
        border: 2px solid #346DFF;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        height: 40px;
        color: #346DFF;
        margin-top: 48px;
    }
}