.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

    &__form-container {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }

    &__subcontainer {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 20px;
        font-size: 12px;
        box-sizing: border-box;
      }

      textarea {
        resize: vertical;
        min-height: 100px;
      }
    }

    &__close-icon {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .submit-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 14px;
      width: 100px;
      align-self: flex-end;

      &:hover {
        background-color: #0056b3;
      }
    }
}